
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:<300>;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}




  
  .whole-back{
   margin-left: 140px;
   margin-right: 140px;
   margin-top: 11px;
  }
  .school-name{
    font-size: 32px;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    
  }
  .nav-bar{
    display: flex;
    
    gap: 32px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  .nav-item{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 32px;
   
    

  }
  .nav-1{
    color: rgba(254, 163, 1, 1);
    font-weight: 700;

  }
    
  .nav-2{
    color: rgba(1, 172, 253, 1);
    font-size: medium;
   
  }
  .nav-3{
    color: rgba(5, 212, 223, 1);
    font-size: medium;
    
  }
  .nav-4{
    color:#5D58EF ;
    font-size: medium;

  }
  .btn-1{
    background-color:  rgba(254, 163, 1, 1);
    color: #FFFFFF;
    padding: 10px 10px;
    border-radius: 12px;
    width: 197px;
    border: none;
  }
  
/* banner section */
.whole-bg{
  
}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 60px;
}
.empower-banner{
    margin-top: 122px;
    
    
}
.banner-empower{
    width:640px;
    white-space: nowrap;
}
.empower{
    font-size: 56px;
    font-weight: 700;
    color: rgba(254, 163, 1, 1);
}
.black-font{
    font-size: 56px;
    font-weight: 700;
}
.blue-font{
    color: skyblue;
}
h1, h2, h3, h4{
    margin: none;
}
.banner-descrip{
    font-size: 20px;
    font-weight: 100;
    margin-top: none;
    width:100%;
    width: fit-content;
}
.black-btn{
    background-color: black;
    border-radius: 12px;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.kid-hero img{
    width: 100%;;
}
section div img{
   
    border-radius: 16px;
}
/* Standard curriculam section */
.curriculum{
  background-image: url(assets/bg.png);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 28.5px;
}
.standard{
  
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.curriculum-box{
  max-width: 368px;
  max-width: 477px;
  padding: 53px 43px;
  border-radius: 19px;
  text-align: center;
  margin-bottom: 80px;
}
.title {
font-weight: 700;
font-size: 24.5; 
}
.title-descrip{
  font-weight: lighter;
  font-size: 15px;
}
.kinder{
  background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}


.elementery{
  background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.middle{
  background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}

#bluish
{
  color: #64C8FF;
  font-weight: 700;
  font-size: 15.09px;
} 
#yelloish{
  color: #F0AA00;
  font-weight: 700;
  font-size: 15.09px;
} 
#violish{
  color: #8700FF;
  font-weight: 700;
  font-size: 15.09px;
}  
/* Storied section */
.stories{
  background: linear-gradient(to bottom,#FFFFFF,rgba(222, 171, 83, 0.932)); 
   
}
.academic-story{
  display: flex; 
 justify-content:space-between; 
 align-items: center;
}
.stories-parent{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  
}
.no-margin{
  margin-right: none;
  margin-left: none;
}
.fun-toodler{
  width: 540px;
  height: 630px;
  border-bottom-left-radius:16px ;
  border-bottom-right-radius: 16px;
}
.toodler-color{
  margin-top: none;
  background-color: #FFFFFF;
  height: 210px;
  padding: 58px 38px 39px 39px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.toodler-caption{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}
.sky-blue-btn{
  background-color: #3CD8E8;
  color: #FFFFFF;
  border: none;
  border-radius: 49px;
  max-width: 174px;
  height: 48px;
  font-size: 16px;
  font-weight: 300;
  margin-left:39px;
  margin-bottom:-20px;
  margin-top: -100px;
  
}
.toodler-descrip{
  margin-bottom: 34.5px;
  font-size: 15.34px;
  font-weight:200;
  
}
.story-1 img{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom:-24px;
}
.short-story{
  max-width: 290.69px;
  height: 301px;
  margin: 20px;
  position: relative;
  
 
}
.short-story img{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:0px;
  
  border-top: -100px;
  margin-bottom:-20px ;
}
.story-title{
  font-size: 15.34px;
  font-weight: 700;
  height: 60px;
  
  background-color:#FFFFFF;
 
  margin-top: -15px;
  padding: 38px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.btn-green{
  background-color: #95B226;
  color: #FFFFFF;
  border: none;
  border-radius: 48px;
  font-size: 15.34px;
  font-weight: 200;
  padding: 5px;
  margin-left: 38.35px;
  position: relative;
  
  

  
  
  margin-left: 38.35px;
  margin-top: -100px;
  margin-bottom: -15px;
  
  width: 174.5px;
  height: 38.25px;
}
.btn-navilue{
  background-color: #5D58F0;
  color: #FFFFFF;
  border: none;
  border-radius: 48px;
  font-size: 15.34px;
  font-weight: 200;
  padding: 5px;
  position: relative;
  margin-left: 38.35px;
  margin-top: -100px;
  margin-bottom: -15px;
  width: 174.5px;
  height: 38.25px;
}
.view-btn{
  
  background-color: black;
  width: 197px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
  margin-left: 500px;
  margin-bottom: 60px;
  
  align-items: center;

}
/* Fotter section */
.last-part{
  background-color: #01ACFD;
  color: #FFFFFF;
  
  padding: 123px 174px 140px 228.09px;
  
}
.conclusion{
  display: flex;
  justify-content: space-between;

}
.hamstar{
  display: flex;
}
.kids-education{
  font-weight: 700;
  font-size: 42.14px;
}
.final-dscrip{
  width: 400px;
  font-size: 20px;
  font-weight: 200;
}
.about-school{
  list-style: none;
  
}
.about-sch{
  font-size: 24px;
  font-weight: 700;
}
.hamster img{
  width: 82.9px;
  height: 81.65px;
}



@media screen and (max-width:390px) {
  .whole-back{
    margin-right: 17px;
    margin-left: 17px;
    width: 390px;
    
   } 
    .navbar{

        margin: 15px;
        max-width: 100%;
        overflow-x: hidden;
        
    }
    .logo{
        width: 100%;
    }
   .school-name{
    display: none;
   } 
   .nav-item{
    display: none;
   }
   .btn-1{
    display: none;
   }
   
   main{
    margin-top:auto ;
   }
   /* banner section responsive */
   .whole-back{
    overflow-x: hidden;
   }
   .banner{
    flex-direction: column-reverse;
    border-bottom: 40px;
    text-align: center;
    
    
   }
   .empower-banner{
    margin-top: 0;
   }
   .banner-empower{
    font-size: 32px;
    text-align: center;
    margin-top: 0;
   }
   .banner-descrip{
    margin: 0px auto;
    
    font-size: 14px;
   }
   .kid-hero{
    justify-content: center
    ;
    text-align: center;
   }
   .kd-hero{
    padding: 10px;
    max-width: 100%;
    height: auto;

   }
  /* Standard curriculam section */
  .student-curriculam{
    text-align: center;
  }
  .standard{
    text-align: center;
  }
  .curriculum{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
/* Stories section */
.fun-toodler{
  display: none;
}
}